:root {
  // --rowNum: 4;
  // --colNum: 5;
  //test
  --rowNum: 3;
  --colNum: 3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(var(--rowNum), 1fr);
  grid-template-columns: repeat(var(--colNum), 1fr);

  .click {
    background: lightgreen;
    transition: all 0.25s ease-in-out;
  }
}

@media only screen and (max-width: 786px) {
  :root {
    --rowNum: 4;
    --colNum: 4;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --rowNum: 4;
    --colNum: 3;
  }
}
