:root {
  // below var are handled by js, here is the default value
  --rowNum: 4;
  --colNum: 4;

  --click-clr: lightblue;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(var(--rowNum), auto);
  grid-template-columns: repeat(var(--colNum), auto);

  .click {
    background: var(--click-clr);
    transition: all 0.25s ease-in-out;
  }
}

//media queries are handled in js
